<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 -- Whopsies!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>
    <script src="/utils.js" defer></script>
</head>
<body onload="getStyle()">
    <div id="navbar"></div>
    <h1>Yeah, this one was our bad...</h1>
    <h3>If this problem persist, please contact <a href="mailto:csclub@bridgew.edu" class="nav">Officer Support</a></h3>
</body>
</html>