<!DOCTYPE html>
<html lang="en">
<head onclick="getStyle()">
    <!-- NO CACHE! -->
    <meta http-equiv="cache-control" content="max-age=0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="-1">
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 11:00:00 GMT">
    <meta http-equiv="pragma" content="no-cache">
    <meta charset="UTF-8">
    {% comment %} <link rel="icon" type="image/x-icon" href="/invoices/favicon.ico"> {% endcomment %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403... Thats an error...</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>
    <script src="/utils.js" defer></script>
</head>
<body >
    <div id="navbar"></div>
    <h1>Whoopsie!</h1>
    <h2>Your account does not have Application Admin Privaleges enabled, or you are not signed in!</h2>
    <h3>If you believe you have reached this page in error, please contact your System Administrator.</h3>
</body>
</html>