<!DOCTYPE html>
<html lang="en">
<head onclick="getStyle()">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Address #{{addr_data[0]}}</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>
    <script src="/utils.js" defer></script>
</head>
<body >
    <div id="navbar"></div>
    <br>
    <h3>Edit Address #{{addr_data[0]}}</h3>
    <br>
    <form action="/admin/addresses/new" method="post">
    <label for="desc">Desc:</label> <input type="text" name="desc" id="desc" class="inpWide lpad"> <br>
    <label for="line1">Line 1</label> <input type="text" name="line1" id="line1" class="inpWide"><br>
    <label for="line2">Line 2</label> <input type="text" name="line2" id="line2" class="inpWide"><br>
    <label for="line3">Line 3</label> <input type="text" name="line3" id="line3" class="inpWide"><br>
    <label for="line4">Line 4</label> <input type="text" name="line4" id="line4" class="inpWide"><br>
    <input type="submit" value="Create">
    </form>
</body>

<style>
    input.inpWide{
        width: 300px;
        cursor:text
    }
    .lpad{
        margin-left: .86rem;
    }
</style>
</html>