<!DOCTYPE html>
<html lang="en">
<head onclick="getStyle()">
    <!-- NO CACHE! -->
    <meta http-equiv="cache-control" content="max-age=0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="-1">
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 11:00:00 GMT">
    <meta http-equiv="pragma" content="no-cache">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/invoices/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User ID Set</title>
    <!-- Meta Redirect to root after one sec -->
    <meta http-equiv="refresh" content="1;url=/">
</head>
<body>
    <p>User ID Set to {{id}}</p>
</body>
</html>