td, th{
    padding: 3px;
}

thead>tr{
    font-weight: unset;
    text-decoration: underline;
}

tbody>tr{
    height: 40px;
}

.MainTable{
    width: 75%
}
table, td, th{
    border-collapse: collapse;
    border: 1px solid black;
    text-transform: capitalize;
}
th, label, input{
    cursor: pointer;
}


/* Navbar container */
.navbar {
overflow: hidden;
}

/* Links inside the navbar */
.navbar a {
float: left;
font-size: 16px;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* The dropdown container */
.dropdown {
float: left;
overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
font-size: 16px;
border: none;
outline: none;
padding: 14px 16px;
background-color: inherit;
font-family: inherit; /* Important for vertical align on mobile phones */
margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */


/* Dropdown content (hidden by default) */
.dropdown-content {
display: none;
position: absolute;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.nav {
    padding: 8px;

}




/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
}

.dropdown:hover{
outline: 1px solid black;
}

html{
font-family: blockFont;

}
@font-face {
font-family: blockFont;
src: url(/blockFont.ttf);
}


  