<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    {% render "navbar.liquid" %}
<br><br>
    <h1>Computer Science Club Management System</h1>
    <h3>Programmed By: Alex Dasneves</h3>
    <h4>Licence: MIT Licence</h4>
    <p>This system is designed to help manage the Computer Science Club at Bridgewater State University. It is designed to facilitate the management of the club by allowing the club to keep track of expences and topics to discuss at our officer meetings. <br>
    Use of this system is restricted to incumbent officers and advisors of the Computer Science Club at Bridgewater State University. <br>
    To request access to this system, please contact the current president of the Computer Science Club at Bridgewater State University at <a style="color: -webkit link" href="mailto:csclub@bridgew.edu">our shared email inbox.</a>
    </p>
</body>
</html>