<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>

    <script src="/utils.js" defer></script>
</head>
<body onload="getStyle()">

    <div class="navbar">
      <a href="/">Home</a>
      <a href="/invoices/">Finances</a>
      <a href="/docket/">Officer Docket</a>
      <a href="https://engage.bridgew.edu/">EngageBSU</a>
      <a href="/about/">About</a>
      {% if isUserAdmin %}
        
      
      <div class="dropdown">
        <button class="dropbtn">Admin</button>
        <div class="dropdown-content">
          <a href="/admin/status/">Statuses</a>
          <a href="/admin/record/">Record Types</a>
          <a href="/admin/users/">Users</a>
          <a href="/admin/addresses/">Addresses</a>
          <a href="/admin/perms/">User Permissions</a>
        </div>
      </div>
    {% endif %}
      <a href="/set_user/">Set User Token</a>
    </div>
    {% comment %} <ul>
        <li><a class="nav" href="/">Home</a></li>
        <li><a class="nav" href="/invoices/">Invoices</a></li>
        <li><a class="nav" href="/docket/">Docket</a></li>
        <li><a class="nav" href="https://engage.bridgew.edu/csclub/home">EngageBSU</a></li>
        <li><a class="nav" href="/about/">About</a></li>
        {% if isUserAdmin %}
          <li class="nav dropdown">Admin 
            <ul class="sublist">
              <li class="subitem"><a class="nav" href="/admin/">Admin Home</a></li>
              <li class="subitem"><a class="nav" href="/admin/users/">Users</a></li>
              <li class="subitem"><a class="nav" href="/admin/permissions/">Permissions</a></li>
              <li class="subitem"><a class="nav" href="/admin/roles/">Roles</a></li>
              <li class="subitem"><a class="nav" href="/admin/role_permissions/">Role Permissions</a></li>
              <li class="subitem"><a class="nav" href="/admin/user_roles/">User Roles</a></li>
              <li class="subitem"><a class="nav" href="/admin/user_permissions/">User Permissions</a></li>
            </ul>
            </li>
        {% endif %}
        <li><a class="nav" href="/set_user/">Set User Token</a></li>
      </ul> {% endcomment %}
</body>
<style>

</style>
</html>