<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <ul>
        <li><a id="nav" href="/">Home</a></li>
        <li><a id="nav" href="/invoices/">Invoices</a></li>
        <li><a id="nav" href="/docket/">Docket</a></li>
        <li><a id="nav" href="https://engage.bridgew.edu/csclub/home">EngageBSU</a></li>
        <li><a id="nav" href="/about/">About</a></li>
        <li><a id="nav" href="/set_user/">Set User Token</a></li>
      </ul>
</body>
<style>
  html{
    background-color: #282828;
  }
    li {
        float: left;
      }
      
      #nav {
        display: block;
        padding: 8px;
        color: #66FF66;
        background-color: #282828;
      }
      #nav:hover {
        background-color: #66FF66;
        color: #282828;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
      }
</style>
</html>