<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User ID Set</title>
    <!-- Meta Redirect to root after one sec -->
    <meta http-equiv="refresh" content="1;url=/">
</head>
<body>
    <p>User ID Set to {{id}}</p>
</body>
</html>