html{
    background-color: blue;
    color: yellow;
}

.navbar{
    background-color: gray;
}

.navbar a{
color:  black;
}

a::first-letter{
    color: red;
    text-decoration: underline;
}

.dropbtn:first-letter{
    color: red;
    text-decoration: underline;
}

.dropdown .dropbtn{
    color: black;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    color: yellow;
    background-color: blue;
}

.dropdown-content { 
    background-color: yellow;
}

.dropdown-content a {
    color: blue;
    background-color: yellow;
}

.nav {
    color: yellow;
    background-color: blue;
}

.nav:hover {
    background-color: yellow;
    color: blue;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    color: yellow;
    background-color: blue;
}

a.navsub{
    color: yellow;
    background-color: blue;
}

.nav:hover>*{
    background-color: blue;
    color: yellow;
}